<div class="jumbotron text-center mt-5">
  <h1>MEAN Authentication App</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt a ad aliquam maiores nesciunt deserunt!</p>
  <a class="btn btn-primary mr-3" [routerLink]="['/register']">Register</a>
  <a class="btn btn-success" [routerLink]="['/login']">Login</a>
</div>

<div class="row">
  <div class="col-md-4">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde dolorum accusantium magni error reprehenderit modi architecto
    quae tempore dolorem soluta sapiente cum placeat, earum dolores, eius repudiandae enim eum natus!
  </div>
  <div class="col-md-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime voluptates, libero temporibus molestiae corrupti, molestias
    assumenda repellendus facilis, neque velit soluta reprehenderit voluptatum consequatur optio est quas nihil! Assumenda,
    architecto?
  </div>
  <div class="col-md-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus accusamus officia fuga quos animi dicta distinctio voluptatem
    consequatur doloribus, ad, delectus ex ea nihil eaque consequuntur? Id accusantium nulla quos!
  </div>
</div>