<h2 class="page-header text-center mt-5">
  Login Here
</h2>

<form (submit)="onLoginSubmit()">

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" required [(ngModel)]="username" #funame="ngModel" name="username" class="form-control">
  </div>
  <div class="alert alert-danger" *ngIf="funame.errors?.required && funame.touched">
    Please enter the username
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password" required #fpassword="ngModel" name="password" class="form-control">
  </div>
  <div class="alert alert-danger" *ngIf="fpassword.errors?.required && fpassword.touched">
    Please enter the password
  </div>

  <input type="submit" class="btn btn-primary" value="Submit">
</form>